## Loading Libraries

In [1]:
import pandas as pd
import numpy as np
from itertools import chain
from collections import Counter

## Set Seed

In [2]:
SEED = 13
np.random.seed(SEED)

## Load Dataset

In [3]:
filepath = "/content/drive/MyDrive/Macnica/Projects/STS/"
df=  pd.read_pickle(filepath + "data/pickle/token_compare+sudachi(full)")

In [4]:
df = df.dropna()

In [5]:
df.head()

                                                text  ...                           toksudachi
0                  bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbk  ...  [bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbk]
1                                  そうりょうむりょうじゃないやられた  ...                          [りょう, むりょう]
2                                               ppp   ...                                [ppp]
3                     つぼみがついてましたがちいさくてくさってましたもうかいません  ...     [つぼみ, つい, ちいさく, くさっ, もう, かい, ませ]
5   ♪  ─  ─  ─ o （ ≧∇≦ ） o ─  ─  ─  ─  ♪  ♪  ─  ─...  ...                               [o, o]

[5 rows x 5 columns]

In [6]:
sm = pd.Series(Counter(chain.from_iterable(df['tokmecab'])))
sj = pd.Series(Counter(chain.from_iterable(df['tokjanome'])))
sn = pd.Series(Counter(chain.from_iterable(df['toknagisa'])))
ss = pd.Series(Counter(chain.from_iterable(df['toksudachi'])))

In [7]:
sm = pd.DataFrame(sm.sort_values(ascending=False))
sj = pd.DataFrame(sj.sort_values(ascending=False))
sn = pd.DataFrame(sn.sort_values(ascending=False))
ss = pd.DataFrame(ss.sort_values(ascending=False))

In [8]:
sm.reset_index(level=0, inplace=True)
sj.reset_index(level=0, inplace=True)
sn.reset_index(level=0, inplace=True)
ss.reset_index(level=0, inplace=True)

In [9]:
cols = ['tokens', 'freq']

In [10]:
sm.columns = cols
sj.columns = cols
sn.columns = cols
ss.columns = cols

In [12]:
print(sm.shape)
print(sj.shape)
print(sn.shape)
print(ss.shape)

(124299, 2)
(124922, 2)
(170612, 2)
(98337, 2)